# Ignore all files ending with ~
*~

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore macOS system files
.DS_Store

# Ignore environment variable files
.env
